.asset-image {
	padding: 10px;
	&.asset-view-small {
		max-width: 280px;
	}
	&.asset-view-full {
		 
	}
	.asset__title {

	}
	.field {
		font-size: em(14px);
		line-height: 1.1;
		margin: 0 0 0.2em 0;
	}
	.field--asset-image {
		@extend %clearfix;
	}
}