.asset-slide {
	background: none;
	padding: 0;
	position: relative;
	.asset {
		background: none;
		padding: 0;
	}
}

.asset-slide__image {

}

.asset-slide__content {
	background: #2d3c4b;
	color: #fff;
	padding: 20px 50px 40px 50px;
	@include breakpoint(1200px, $no-query: true) {
		bottom: auto;
		left: 60px;
		padding: 20px;
		position: absolute;
		opacity: 0.9;
		top: 0px;	
		width: 40%;		
	}
	p {
		margin: 0 0 0.75em 0;
	}
}

.asset-slide__title {
	border-bottom: 1px solid #61798e;
	color: #c8efff;
	font-size: em(24px);
	margin: 0 0 0.75em 0;
	padding: 0 0 0.75em 0;
	text-transform: uppercase;
}

.asset-slide__link {
	a {
		@extend %button--simple-green; // from utilities/_buttons.scss
		margin: 0;
	}
}