// @file
// colored subtheme teaser boxes

.border-list-item {
  background: #fff;
  border-left: 5px solid $green;
	@include border-radius(3px);
	@include box-shadow(0 0 3px 3px rgba(0,0,0,0.1));
	margin: 0 5px 1em 5px;
	padding: 20px;
	.no-boxshadow & {
		border-bottom: 1px solid #999;
		border-right: 1px solid #999;
		border-top: 1px solid #999;
	}
}

// views module has a bug that won't allow underscores, so I've used x4 dashes for subcomponents
.border-list-item----title {
	margin: 0;
	a {
		color: $green;
	  &:after {
			content: url(../images/arrow-title.png);
			margin-left: 5px;
			white-space: nowrap;
		}
	}
}

.border-list-item----description {
  padding: 0.5em 0 0 0;
	p {
		margin: 0 0 0.5em 0;
	}
}

// Color variations
.l-grid__row:nth-of-type(3n-2) { // row 1 of 3
	.l-grid__column--1 { // column 1
	  .border-list-item {
  	  border-left: 5px solid $green;
  	  .border-list-item----title a {
  		  color: $green;
  	  }
    }
  }
  .l-grid__column--2 { // column 2
  	.border-list-item {
    	border-left: 5px solid $blue;
    	.border-list-item----title a {
  	  	color: $blue;
  	  }
    }
  }
}

.l-grid__row:nth-of-type(3n-1) { // row 2 of 3
	.l-grid__column--1 { // column 1
	  .border-list-item {
    	border-left: 5px solid $darkblue;
    	.border-list-item----title a {
  	  	color: $darkblue;
  	  }
  	}
  }
  .l-grid__column--2 { // column 2
	  .border-list-item {
    	border-left: 5px solid $green;
    	.border-list-item----title a {
  	  	color: $green;
  	  }
  	}
  }
}
 
.l-grid__row:nth-of-type(3n) { // row 3 of 3
	.l-grid__column--1 { // column 1
	  .border-list-item {
  	  border-left: 5px solid $blue;
  	  .border-list-item----title a {
  		  color: $blue;
  	  }
  	}
  }
  .l-grid__column--2 { // column 2
	  .border-list-item {
  	  border-left: 5px solid $darkblue;
  	  .border-list-item----title a {
  		  color: $darkblue;
  	  }
  	}
  }
}
 