// @file
// Styles for: collapsible control button (e.g., search facets, pane--collapse)

.control {
  @include border-radius(2px);
  background-color: $blue;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  height: 18px;
  left: -25px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  text-decoration: none !important;
  top: 5px;
  width: 18px;
}

.control--inline {
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  margin-right: 0.25em;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  top: 1px;
  width: 24px;
}