.explore-themes {
	@extend %clearfix;
	margin: 0 0 3em 0;
	h2.pane__title {
		html.js & {
			cursor: pointer;
		}
		font-size: em(24px);
		margin: 0 0 1em 0;
		padding-top: 2em;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		&:before {
			background: url(../images/arrow-tab.png) no-repeat 0 0;
			content: "";
			html.js & {
				cursor: pointer;
			}
			display: block;
			height: 51px;
			margin-left: -46px;
			left: 50%;
			position: absolute;
			top: -51px;
			width: 92px;
		}
	}

	// views module has a bug that won't allow underscores, so I've used x4 dashes for subcomponents
  .explore-themes----theme {
	  border: 0;
	  margin: 2em 0;
	  padding: 0 2.5%;
	  text-align: center;
	  @include breakpoint(420px, $no-query: true) {
		  float: left;
		  margin: 1em 0;
	    width: 50%;
	  }
	  @include breakpoint(700px, $no-query: true) {
	  	width: 25%;
	  }
		a {
			@include hyphens(none);
			color: $green;
			display: block;
			font-size: em(18px);
			font-weight: bold;
			padding-top: 140px;
			position: relative;
			text-decoration: none;
			text-transform: uppercase;
			&:hover, &:focus {
				color: darken($green,20%);
			}
			&:before {
				background-position: 50% 0;
				background-repeat: no-repeat;
				content: "";
				display: block;
				height: 100px;
				opacity: 0.8;
				position: absolute;
				top: 0;
				width: 100%;
				@include transition-property(
			    opacity
			  );
			  @include transition-duration(0.2s);
			  @include transition-timing-function(linear);
			}
			&:hover:before,
			&:focus:before {
				opacity: 1;
			}
			&:after {
				border-bottom: 1px dashed #c9c9c9;
				content: "";
				display: block;
				height: 0;
				position: absolute;
				top: 125px;
				width: 100%;
				@include transition-property(
			    border-color,
			    opacity
			  );
			  @include transition-duration(0.2s);
			  @include transition-timing-function(linear);
			}
			&:hover:after,
			&:focus:after {
				border-color: #999;
			}
		} 
		&.explore-themes----theme--Water-Sanitation-Hygiene {
			a:before {
				@include svg-background(water-hygiene);
		  }
		}
		&.explore-themes----theme--Integrated-Water-Resource-Management {
			a:before {
				@include svg-background(water-management);
			}
		}
		&.explore-themes----theme--Productivity-and-Efficiency {
			a:before {
				@include svg-background(water-efficiency);
			}
		}
		&.explore-themes----theme--Governance {
			a:before {
				@include svg-background(water-governance);	
		  }
		}
	}
} 




