// @file
// Styles for: Solr Search Facets.


div.pane[class*="pane--facetapi-"] {
  li {
    overflow: visible !important;
    position: relative;
  }
  .facetapi-active { // remove filter link
    float: right;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
  }
  .item-list {
    ul {
      font-style: italic;
      list-style: none !important;
      margin: 0 0 1em 0.25em !important;
      li {
        background: url(../images/bullet.png) no-repeat 0 12px;
        list-style: none !important;
        padding-left: 10px;
      }
    }
  }
  .facetapi-limit-link {
    font-weight: bold;
    &.open { // hide 'show less' button on solr filters
      display: none;
    }
  }
}
 
