.featured-area {
	background: #f5f6f8;
	border: 1px solid $border-color;
	padding: 20px;
	@include breakpoint(700px, $no-query: true) {
  	padding: 40px;
	}
	position: relative;
	
	.sidebar & {
		border-right: 0;
	}

	// indent page title for theme indicator icon spacing
	.page-title {
		padding-left: 40px;
	}

	// exception for resource detail page to indent all content (not just page title)
	// since these pages can have multiple theme indicator icons
	.pane--resource-full {
    padding-left: 40px;
    .page-title {
    	padding-left: 0;
    }
  }

}


.featured-area__theme-indicator {
  left: -10px;
  position: absolute;
  top: 10px;
  @include breakpoint(700px, $no-query: true) {
    top: 20px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
    	list-style-type: none;
    	margin: 0 0 1em 0;
    	padding: 0;
    	position: relative;
      a {		
    	  @include image-replace(50px,50px);		 
        background-color: $blue;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border: 13px solid $blue;
        display: block;
        @include breakpoint(700px, $no-query: true) {
          height: 70px;
          width: 70px;
        }
	      &:after {
	        border-top: 5px solid #323743;
	        border-bottom: 5px solid transparent;
	        border-left: 5px solid transparent;
	        border-right: 5px solid #323743;
	        bottom: -10px;
	        content: "";
	        display: block;
	        height: 0;
	        left: 0;
	        position: absolute;
	        width: 0;
	      }
    	}
    	// theme-specific icons
	    &.theme-productivity-and-efficiency a {
	      @include svg-background(water-efficiency-white);
	    }
	    &.theme-governance a {
        @include svg-background(water-governance-white);
	    }
	    &.theme-integrated-water-resource-management a {
        @include svg-background(water-management-white);
	    }
	    &.theme-water-sanitation-hygiene a {
	      @include svg-background(water-hygiene-white);
	    }
    } 
  }
}
