.google-search-results {
  .gss-result {
    @extend .views-row;
    padding-top: 2em;
  }
  .gss-search-url {
    clear: both;
  }
  .gss-thumbnail-image {
    @extend %element-hidden;
    // margin: 15px 0;
    // @include breakpoint(700px, $no-query: true) {
    //   float: left;
    //   margin: 15px 20px 15px 0;
    // }
  }
  .gss-title {
    @extend .search-result-title;
  }
}

.searchhead {
  span, ul {
    // Filter results by refinement labels, currently not implemented.
    // Remove "@extend %element-hidden" when feature is added.
    @extend %element-hidden;
  }
  margin: 2em 0;
  ul {
    margin: 0;
  }
}
