// using styles from /_pager.scss
div.google-search-pager ul.pager {
  li {
    display: inline-block;
    margin: 0;
  }
  li.pager-current,
  li.pager-ellipsis {
    padding: 4px 10px;
  }
  li.pager-item {
    padding: 0;
    a {
      display: inline-block;
      padding: 4px 10px; // give padding to link for easier mobile touch
    }
  }
  li.pager-next,
  li.pager-previous {
    display: block;
    padding: 0;
    @include breakpoint(700px, $no-query: true) {
      display: inline-block;
    }
    a {
      @extend %button--simple-grey;
      @include transition(border-color 0.2s linear, background-color 0.2s linear);
      display: block;
      margin-bottom: 0;
      text-transform: uppercase;
      @include breakpoint(700px, $no-query: true) {
        display: inline-block;
      }
    }
  }
  li.pager-previous {
    @include breakpoint(700px, $no-query: true) {
      float: left;
      margin-right: 10px;
    }
  }
  li.pager-next {
    @include breakpoint(700px, $no-query: true) {
      float: right;
      margin-left: 10px;
    }
  }
}
