.gss.search-form {
  .button--submit,
  .form-item__label,
  .form-item--searchfield {
    display: inline-block;
  }
  .form-item__label {
    margin-right: 10px;
  }
  .form-item--searchfield {
    margin: 0;
  }
  .form-search {
    max-width: 70%;
    @include breakpoint(700px, $no-query: true) {
      max-width: 100%;
    }
  }
}
