// @file
// Styles for: Node type Resource Profile.

.node-type-resource-profile__meta {
  padding-bottom: 40px;
  padding-top: 40px;
}

.node-type-resource-profile__actions {
  margin: 0 0 1em 0;
  a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
