h1.page-title {
	border-bottom: 1px solid $border-color;
	font-size: em(26px);
	margin: 0 0 0.75em;
	padding: 0 0 0.75em;
	@include breakpoint(700px, $no-query: true) {
		font-size: em(36px);
		margin: 0 0 1em 0;
  	padding: 0 0 1em 0;
	}
}