// @file
// Styles for pagers.

.pager {
	display: block;
  list-style: none;
  padding: 0;
  text-align: center;
}

.pager__item {
  display: inline-block;
}

.pager__item--first,
.pager__item--previous {
	float: left;
	margin-right: 10px;
}

.pager__item--next,
.pager__item--last {
	float: right;
	margin-left: 10px;
}

.pager__link, .pager__item--current {
  padding: 4px 10px 20px 10px; // give padding to link for easier mobile touch
}

.pager__link--first:before {
  content: "\00AB";
  @extend %button--simple-grey;
  @include transition(border-color 0.2s linear, background-color 0.2s linear);
}

.pager__link--previous:before {
  content: "\2039  Previous";
  @extend %button--simple-grey;
  @include transition(border-color 0.2s linear, background-color 0.2s linear);
}

.pager__link--next:before {
  content: "Next \203A";
  @extend %button--simple-grey;
  @include transition(border-color 0.2s linear, background-color 0.2s linear);
}

.pager__link--last:before {
  content: "\00BB ";
  @extend %button--simple-grey;
  @include transition(border-color 0.2s linear, background-color 0.2s linear);
}
