// Note: default Resource field styling in /_resource.scss

.pane--resource-full {
  .flag-outer-bookmarks,
  .flag-outer-report-broken-resource,
  .rate-widget,
  .resource__service-links {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    font-size: 12px;
    line-height: 30px;
    margin-bottom: 1em;
    min-height: 30px;
    padding: 0 15px;
    @include breakpoint(700px, $no-query: true) {
      height: 30px;
    }
  }
}
