// homepage flexslider layout and controls.

// Note: slide styling is in _asset-slide.scss

.pane--slideshow-homepage-carousel {
	margin-bottom: 4em;
	.flexslider {
		background: #2d3c4b;
		@include breakpoint(1200px, $no-query: true) {
			background: #fff;
		}
		border: 0;
		@include border-radius(0);
		@include box-shadow(none);
		margin: 0;
		@include breakpoint(1200px, $no-query: true) {
  		padding: 20px;
	  }
		.flex-control-paging {
			bottom: 25px;
			height: 0;
			left: 0;
			z-index: 4;
			@include breakpoint(1200px, $no-query: true) {
  			bottom: 45px;
			}
			li a {
				width: 14px; 
				height: 14px; 
				background: #fff; 
				background: rgba(255,255,255,0.5); 
				@include border-radius(28px);
				@include box-shadow(inset 0 0 3px rgba(0,0,0,0.3));
				&:hover, &:focus {
					background: rgb(0,0,0); 
				  background: rgba(0,0,0,0.7);
				}
				&.flex-active {
					background: rgb(83,153,224); 
				  background: rgba(83,153,224,0.7);
					cursor: default;
				}
			}
		}
		.flex-direction-nav {
			a  { 
				background-color: rgba(255,255,255,0.4);
				background-position: 50% 50%;
				background-repeat: no-repeat;
				color: transparent;
				display: block;
				height: 100%;
				margin: 0; 
				top: 50%;
				opacity: 0.3; 
				text-shadow: none; 
				top: 0; 
				width: 40px; 
				&:hover, &:focus {
					opacity: 1;
				}
			}
			.flex-prev { 
				background-image: url(../images/slider-nav-left.png);
				left: 0;
				@include breakpoint(1200px, $no-query: true) {
  			  left: 20px; 
	      }
		  }
		  .flex-next { 
				background-image: url(../images/slider-nav-right.png);
				right: 0;
				@include breakpoint(1200px, $no-query: true) {
  		  	right: 20px; 
	      }
		  }
		  a:before  { 
		  	display: none;
		  	content: "";
			}
		}
		&:hover .flex-prev { opacity: 0.7; }
		&:hover .flex-next { opacity: 0.7; }
	}
}



 