// Note: default Resource field styling in /_resource.scss

.pane--resource-search-results {
  .field__label {
    margin-right: 0.5em;
  }
  .pane__title {
    @include breakpoint($max-page-width, $no-query: true) {
      float: left;
      padding-right: 275px;
    }
  }
  .no-results {
    clear: both;
  }
}
