.pane--collapse {
	margin: 2em 0 1em 0;
	.pane__title {
		margin: 0;
		a {
		  background-color: $green;
			@include border-radius(3px);
			color: #fff !important;
			cursor: pointer;
			display: block;
			font-family: $button-font-family;
			font-size: 18px;
  		padding: 0.75em;
  		text-decoration: none;
  	  text-transform: none;
  		&:focus,
  		&:hover {
    		background-color: darken($green, 20%);
		  }
		}
	}
	&.open .pane__title a {
		@include border-radius(3px 3px 0 0);	
		background-color: darken($green, 20%);	
	}
	.pane__content {
		background: $green;
		@include border-radius(0 0 3px 3px);		
		color: #fff;
		padding: 1em 2em;
		a {
			color: #fff;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0.5em 0;
			li {
				list-style-type: none;
				margin: 0 0 0.5em 0;
			}
		}
	}
}