.pane {

  .l-main & {
    .pane__title {
      color: $gray;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  // basic sidebar pane
  .l-sidebar & {
    .pane__title {
      background: $blue;
      @include border-radius(0 3px 3px 0);
      @include box-shadow(inset 12px 0 12px rgba(0,0,0,0.2));
      color: #fff;
      font-size: em(18px);
      line-height: 1;
      margin: 0;
      padding: 25px 30px;
      text-transform: uppercase;
      a {
        color : #fff;
        text-decoration: none;
      }
    }
    .pane__content {
      padding: 10px 10px 10px 30px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        ul {
          list-style: square;
          margin: 0 0 0 1em;
          li {
            list-style: square;
          }
        }
        li {
          list-style: none;
    	    margin: 0 0 0.5em 0;
    	    padding: 0;
        }
      }
    }
  }

}