// @file
// Styles for: Help content pane.

.pane--related-content-related-resources + .pane--nodefield-help-content {
  border-top: 1px solid $border-color;
}
.pane--nodefield-help-content {
  a {
    @extend %button--simple-green;
    @include svg-background(question-sign);
    background-position: 5px 3px;
    background-repeat: no-repeat;
    display: inline-block;
    font-weight: normal;
    line-height: 20px;
    padding-left: 27px;
  }
}
