// @file
// Styles for: Rate widget.

.rate-widget {
  display: inline-block;
  font-weight: bold;
  .button {
    @include box-shadow(none);
    background-color: transparent;
    background-image: none;
    border: none;
    cursor: text;
    margin-bottom: 0;
    padding: 0;
    .count {
      color: $blue;
      margin-left: 3px;
    }
  }
  .info {
    font-weight: normal;
    margin-left: 0.5em;
  }
  .rate-button {
    @include svg-background(thumbs-up);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 25px;
    padding: 0 0 0 23px;
    &:hover, &:focus {
      @include svg-background(thumbs-up-hover);
    }
  }
}
