// @file
// Styles for: Resource fields.

%resource-icon {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 22px;
}

.flag-outer-bookmarks,
.flag-outer-report-broken-resource,
[class*="resource__"] {
  display: inline-block; // make this the default for all resource fields
}

.resource__data-scale {
  display: block;
}

.resource__file-size {
  margin-right: 1em;
  &:after {
    content: " Kb";
  }
}

.resource__file-type {
  @extend %resource-icon;
  @include svg-background(disk);
  margin-right: 0.5em;
}

.resource__last-modified {
  @extend %resource-icon;
  @include svg-background(calendar);
  margin-right: 15px;
}

.resource__link {
  margin-bottom: 12px;
  margin-right: 2px;
  @include breakpoint(700px, $no-query: true) {
    height: 30px;
    margin-right: 1px;

  }
  a {
    @extend %button--green;
    @include hyphens(none);
    margin: 0;
    @include breakpoint(700px, $no-query: true) {
      padding-bottom: 0;
    }
  }
}

.resource__organization {
  @extend %resource-icon;
  @include svg-background(briefcase);
  display: block;
}

.resource__regional-focus {
  display: block;
  .hierarchical-select-item-separator,
  .lineage-item-level-1 {
    @include element-hidden;
  }
}

.resource__service-links {
  margin-right: 4px;
  .service-links {
    display: inline-block;
    margin-left: 4px;
    margin-right: 3px;
    vertical-align: middle;
  }
}

.resource__summary {
  display: block;
  margin: 1em 0;
}

.resource__type {
  display: block;
}

.flag-outer-bookmarks {
  @include breakpoint(700px, $no-query: true) {
    margin-left: 10px;
  }
  .node-type-resource-profile & {
    @include breakpoint(700px, $no-query: true) {
      margin-left: 0;
    }
  }
  .flag-link-toggle {
    @include svg-background(bookmark-empty);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 20px;
    padding-left: 20px;
    &.unflag-action {
      @include svg-background(bookmark);
    }
  }
  .flag-message {
    display: none!important;
  }
}
