.user-profile {

}

.user-profile__username {
	@include adjust-font-size-to(40px);
	margin: 0 0 1em 0;
}

.user-profile__group {
	> h3 {
		margin: 2em 0 0.5em 0;
	}
	.description {
		font-style: italic;
		margin-bottom: 1em;
	}
}