.views-row {
  border-top: 1px solid #ebebeb;
  font-size: 15px;
  padding: 2em 0;
  .l-sidebar & {
  	padding: 1em 0;
  }
  &.views-row-first {
    border-top: none;
  }
  .views-field-title {
  	@include hyphens(none);
  	@include adjust-font-size-to(24px);
  	.l-sidebar & {
  		@include adjust-font-size-to(18px);
  	}
  	font-weight: bold;
  }
}