// @file
// Styles for: Views Resource Profile contextual search filter.

.view--resource-search-results {
  position: relative;
  .view__filters { // search bar
    @include breakpoint($max-page-width, $no-query: true) {
      margin: 1.5em 0 0 0;
      position: absolute;
      right: 0;
      top: 0;
      & + .views-row {
        clear: both;
      }
    }
    .views-widget {
      margin-right: 0;
    }
    .views-widget--filter-search_api_views_fulltext {
      margin: 0;
      position: relative;
      .views-widget__label {
        @extend %element-invisible;
      }
      .form-item {
        margin: 0;
      }
      .form-text {
        @include border-radius(3px);
        @include box-shadow(inset 0 0 3px rgba(0,0,0,0.05));
        background-color: $form-bg-color;
        color: $form-text-color;
        font-family: $sans-serif-font-family;
        height: 50px;
        width: 244px;
      }
    }
    .button--submit {
      @include box-shadow(none);
      @include svg-background(search-blue);
      background-color: $form-bg-color;
      background-position: 0 0;
      background-repeat: no-repeat;
      border: 0;
      height: 20px;
      left: 212px;
      position: absolute;
      text-indent: -9999px;
      top: 15px;
      width: 20px;
    }
  }
}
