// @file
// Generic grid styles.

$gutter-width: 0.5em;

.l-grid {
  overflow: hidden; // so .l-grid__row negative margins don't create horizontal scrollbar 
}

.l-grid__row {
  @extend %clearfix;
  margin-left: -$gutter-width;
  margin-right: -$gutter-width;
}

.l-grid__column {
  float: left;
  padding: 0 $gutter-width;
  width: 100%;
  .l-grid--collapse & { // make all columns 100% at smaller sizes for l-grid--collapse variant of grid
    @include breakpoint(max-width 899px) {
      width: 100% !important; 
    }
  }
}

.l-grid--cols-2 .l-grid__column {
  width: (1/2) * 100%;
}

.l-grid--cols-3 .l-grid__column {
  width: (1/3) * 100%;
}

.l-grid--cols-4 .l-grid__column {
  width: (1/4) * 100%;
}

.l-grid--cols-5 .l-grid__column {
  width: (1/5) * 100%;
}

.l-grid--cols-6 .l-grid__column {
  width: (1/6) * 100%;
}
 