// @file
// Default styling of html elements.

*,
*:before,
*:after {
  // Box-sizing: border-box
  @include border-box;
}

* {
  // Universal transitions
  @include transition-property(
    background-color,
    border-color,
    box-shadow,
    color,
    opacity,
    text-shadow,
    transform
  );
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
}

a {
  color: $link-color;
  //margin: -2px; // Improved readability when focused.
  //padding: 2px; // Improved readability when focused.
  text-decoration: none;
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

abbr {
  @include smallcaps();

  &:hover {
    cursor: help;
  }
}

address {}

article {}

aside {}

audio {}

b {}

blockquote {
  border-left: 6px solid $darkblue;
  font-style: italic;
  margin: rhythm(1) 0.75em;
  padding: 0 0 0 0.75em;
}

body {
  background-color: $body-color;
  color: $primary-text-color;
  word-wrap: break-word;
}

// Don't style button elements, since they're often styled as links for
// accessible widgets. Use the .button class in partials/components/buttons.
button {}

canvas {}

caption {}

cite {}

code {}

col {}

colgroup {}

datalist {}

dd {}

del {}

details {}

dfn {}

dl {
  margin: rhythm(1) 0;
}

dt {
  margin-top: rhythm(1);
}

dt + dt {
  margin-top: 0;
}

em {}

embed {}

fieldset {}

figcaption {}

figure {}

footer {}

form {}

%hN {
  color: $heading-text-color;
  font-family: $header-font-family;
  @include hyphens(none);
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}

h1 {
  @extend %hN;
  font-size: em($font-size-xxl);
  margin: rhythm(1, $font-size-xxl) 0;
}

h2 {
  @extend %hN;
  font-size: em($font-size-xl);
  margin: rhythm(1, $font-size-xl) 0;
}

h3 {
  @extend %hN;
  color: $green;
  font-size: em($font-size-lg);
  margin: rhythm(1, $font-size-lg) 0;
  text-transform: uppercase;
}

h4 {
  @extend %hN;
  color: $green;
  font-size: em($font-size-lg);
  margin: rhythm(1, $font-size-lg) 0;
}

h5 {
  @extend %hN;
  color: #000;
  font-size: em($font-size-normal);
  margin: rhythm(1, $font-size-normal) 0;
  text-transform: uppercase;
}

h6 {
  @extend %hN;
  color: #000;
  font-size: em($font-size-normal);
  margin: rhythm(1, $font-size-normal) 0;
}

header {}

hr {
  border: 1px solid $form-border-color;
  margin: rhythm(1) 0;
  padding-bottom: -1px;
}

html {
  @include adjust-leading-to(1);
  @include hyphens(auto);
  font-family: $base-font-family;
  font-size: 100% * ($base-font-size / 16px);
}

i {}

iframe {}

img {}

// Don't style button, submit, or reset elements, since they're often styled as
// links for accessible widgets. Use the .button class in
// partials/components/buttons.
input {}
input[type="button"] {}
input[type="checkbox"] {}
input[type="color"] {}
input[type="date"] {}
input[type="datetime"] {}
input[type="datetime-local"] {}
input[type="email"] {}
input[type="file"] {}
input[type="image"] {}
input[type="month"] {}
input[type="number"] {}
input[type="password"] {}
input[type="radio"] {}
input[type="range"] {}
input[type="reset"] {}
input[type="search"] {}
input[type="submit"] {}
input[type="tel"] {}
input[type="text"] {}
input[type="time"] {}
input[type="url"] {}
input[type="week"] {}

ins {}

kbd {}

label {}

legend {
  margin: 0;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *margin-left: -7px; // LTR

    [dir="rtl"] & {
      *margin-left: 0;
      *margin-right: -7px;
    }
  }
}

li {}

main {}

mark {
  background: #ff0;
  color: #000;
}

menu {}

menuitem {}

meter {}

nav {}

object {}

ol {
  margin: rhythm(1) 0;
  padding: 0 0 0 1.5em; // LTR

  [dir="rtl"] & {
    padding: 0 1.5em 0 0;
  }

  ol,
  ul {
    margin: 0;
  }
}

optgroup {}

option {}

output {}

p {
  margin: 0 0 rhythm(1) 0;
}

param {}

pre {
  margin: rhythm(1) 0;
}

progress {}

q {}

s {}

samp {}

section {}

select {}

small {
  @include adjust-font-size-to($font-size-md);
}

strong {}

sub {}

summary {}

sup {}

table {
  border: 1px solid $border-color;
}

tbody {}

td {
  border: 1px solid $border-color;
  padding: 0.25em 0.5em;
  text-align: left;
  vertical-align: top;
}

textarea {}

tfoot {}

th {
  border: 1px solid $border-color;
  padding: 0.25em 0.5em;
  text-align: left;
  vertical-align: top;
}

thead {}

time {}

tr {}

u {}

ul {
  margin: rhythm(1) 0;
  padding: 0 0 0 1.2em; // LTR

  [dir="rtl"] & {
    padding: 0 1.2em 0 0;
  }

  ol,
  ul {
    margin: 0;
  }
}

var {}

video {}

// Default print styles
@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 or $legacy-support-for-ie8 {
      -ms-filter: none !important;
      filter: none !important;
    }
    text-shadow: none !important;
  }

  iframe,
  nav {
    display: none;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  a[href]:after {
    content: " <" attr(href) ">";
    font-family: $base-font-family;
    font-size: 10pt;
    font-weight: normal;
    text-transform: lowercase;
  }

  // Uncomment and replace example.com with your site's domain.
  //a[href^="/"]:after {
  //  content: " <http://example.com" attr(href) ">";
  //}

  a[href^="javascript:"]:after,
  a[href^="mailto:"]:after,
  a[href^="tel:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  img,
  tr,
  ul {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  h1 a:after,
  h2 a:after,
  h3 a:after,
  h4 a:after,
  h5 a:after,
  h6 a:after {
    display: inline-block;
  }

  h2,
  h3,
  h4,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }

  @page {
    margin: 2cm;
  }
}
