@media (min-width: 43.75em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/partials\/layout\/panels\/_sidebar\.scss}line{font-family:\0000314}}
  .l-panels-sidebar.main.sidebar .l-main-wrapper, .l-panels-sidebar.featured.sidebar .l-main-wrapper {
    width: 66.66667%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    border-top: 1px solid #ebebeb;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/partials\/layout\/panels\/_sidebar\.scss}line{font-family:\0000317}}
  .l-panels-sidebar.main.sidebar .l-main-wrapper .l-main, .l-panels-sidebar.featured.sidebar .l-main-wrapper .l-main {
    padding: 0 40px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/partials\/layout\/panels\/_sidebar\.scss}line{font-family:\0000321}}
  .l-panels-sidebar.main.sidebar .l-sidebar, .l-panels-sidebar.featured.sidebar .l-sidebar {
    width: 33.33333%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    margin-left: -1px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/partials\/global\/mixins\/_clearfix\.scss}line{font-family:\000039}}
.l-panels-sidebar:after {
  display: table;
  content: "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/partials\/global\/mixins\/_clearfix\.scss}line{font-family:\0000314}}
.l-panels-sidebar:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/partials\/layout\/panels\/_sidebar\.scss}line{font-family:\0000337}}
.l-panels-sidebar .l-preface,
.l-panels-sidebar .l-main-wrapper,
.l-panels-sidebar .l-featured,
.l-panels-sidebar .l-main,
.l-panels-sidebar .l-sidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/partials\/global\/mixins\/_clearfix\.scss}line{font-family:\000039}}
.l-panels-sidebar .l-preface:after,
.l-panels-sidebar .l-main-wrapper:after,
.l-panels-sidebar .l-featured:after,
.l-panels-sidebar .l-main:after,
.l-panels-sidebar .l-sidebar:after {
  display: table;
  content: "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/partials\/global\/mixins\/_clearfix\.scss}line{font-family:\0000314}}
.l-panels-sidebar .l-preface:after,
.l-panels-sidebar .l-main-wrapper:after,
.l-panels-sidebar .l-featured:after,
.l-panels-sidebar .l-main:after,
.l-panels-sidebar .l-sidebar:after {
  clear: both;
}
