@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/partials\/global\/mixins\/_clearfix\.scss}line{font-family:\000039}}
.l-panels-single:after {
  display: table;
  content: "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/partials\/global\/mixins\/_clearfix\.scss}line{font-family:\0000314}}
.l-panels-single:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/partials\/layout\/panels\/_single\.scss}line{font-family:\0000314}}
.l-panels-single .l-preface,
.l-panels-single .l-main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/partials\/global\/mixins\/_clearfix\.scss}line{font-family:\000039}}
.l-panels-single .l-preface:after,
.l-panels-single .l-main:after {
  display: table;
  content: "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/partials\/global\/mixins\/_clearfix\.scss}line{font-family:\0000314}}
.l-panels-single .l-preface:after,
.l-panels-single .l-main:after {
  clear: both;
}
