// @file
// Styles for the admin shortcuts.

@import '../partials/global';

#edit-shortcuts {
  float: right; // LTR

  [dir="rtl"] & {
    float: left;
  }
}

 // default styling copied & Sass-ified from
 // modules/contrib/admin_menu/admin_menu_toolbar/admin_menu_toolbar.css
#admin-menu {
  .shortcut-toggle {
    cursor: pointer;
    background: url(../../images/toolbar.png) 0 -20px no-repeat;
    display: block;
    float: right;
    margin: 6px 0 0 1.3em;
    text-indent: -9999px;
    overflow: hidden;
    width: 25px;
    height: 25px;
    &:focus,
    &:hover {
      background-position: -50px -20px;
    }
    &.active {
      background-position: -25px -20px;
      &:focus,
      &:hover {
        background-position: -75px -20px;
      }
    }
  }
  .shortcut-toolbar {
    background-color: #666;
    clear: both;
    display: none;
    margin: 0 -12px;
    overflow: hidden;
    padding: 5px;
    &.active {
      display: block;
    }
    ul {
      margin: 0;
    }
    li {
      float: left;
    }
    a {
      color: #fff;
      padding: 0 0.75em;
    }
  }
}
