.block--menu-menu-footer {
	margin: 2em 0;
	text-align: center;
	@include breakpoint(1100px, $no-query: true) {
  	float: right;
  	margin: 0;
  	text-align: left;
	}
	.block-title {
		display: none;
	}
	ul.nav {
		@extend %clearfix;
		line-height: 1;
		margin: 0;
		padding: 0 0 0 13px;
		.nav__item {
			border-left: 1px solid $primary-text-color;
			display: inline-block;
			margin: 0 0 0 -4px;
			padding: 0 9px;
		}
		.nav__item--first {
			border-left: 0;
			@include breakpoint(1100px, $no-query: true) {
				border-left: 1px solid $primary-text-color;
			}
		}
	}
}