.block--system-user-menu {
	border-left: 1px solid lighten($blue,10%);
	display: none;
	@include breakpoint(700px, $no-query: true ) {
		display: block;
	}
	height: 90px;
	padding: 0 0 0 30px;
	position: absolute;
	right: 10px;
	top: 0;
	.block-title {
		display: none;
	}
	ul.nav {
		@extend %clearfix;
		margin: 0;
		.nav__item {
			display: block;
			float: left;
		  a {
				color: #fff;
				display: block;
				float: left;
				font-size: 13px;
				font-weight: bold;
				height: 40px;
				line-height: 40px;
				margin: 25px 20px 25px 0;
				@include text-shadow(1px 1px 1px #3577bb);
				text-transform: uppercase;
				&:hover, &:focus {
				  color: $aqua;
				  text-decoration: none;
			  }
				&.signup {
					@extend %button;
					color: #fff !important;
					display: block;
					float: left;
					font-size: 13px;
  				font-weight: bold;
					height: 40px;
  				line-height: 40px;
					margin: 25px 20px 25px 0;
					padding: 0 15px;
					@include text-shadow(none);
				}
			}	
			&:last-child a {
				margin-right: 0 !important;
			}	 
		}
	}
}