body > footer.footer {
	@extend %clearfix;
	background: #f5f6f8;
	@include box-shadow(0px 10px 10px -5px rgba(0,0,0,0.15) inset);
	font-size: 14px;
	padding: 40px 0;
}

.footer__logo {
	text-align: center;
	@include breakpoint(1100px, $no-query: true) {
  	float: left;
  	text-align: left;
	}
	a {
    @include image-replace(307px,55px);
    background: url(../images/logo-footer.png) no-repeat 0 0;
    display: inline-block;
    margin-top: -20px;
	}
}

.footer__copyright {
	margin: 2em 0 0 0;
	text-align: center;
  @include breakpoint(1100px, $no-query: true) {
	  float: right;
	  margin: 0;
	  text-align: left;
	}
	p {
  	line-height: 1;
  	margin: 0;
	}
}