body > header.header {
	margin-bottom: 1em;
	.header__utility {
		background: $blue;
		color: #fff;
		@include breakpoint(700px, $no-query: true) {
  		height: 90px;
	  }
		.region-navigation.l-constrain {
			position: relative;
		}
	}
	.region-header.l-constrain {
		@extend %clearfix;
		position: relative;
	}
}

