.site-name {
	display: block;
	padding: 1em 0;
	text-align: center;
	@include breakpoint(700px, $no-query: true) {
		float: left;
		padding: 1em 0 0 0;
		position: relative;
		text-align: left;
		z-index: 2; 
	}
}

.site-name__link {
	@include image-replace(290px,120px);
	@include svg-background(logo);  
	display: inline-block; 
} 