.site-search {
  margin: 0 0 2em 0;
  position: relative;
  width: 100%;
  @include breakpoint(700px, $no-query: true) {
    left: 0;
    margin: 0;
    padding-left: 400px;
    padding-right: 10px;
    position: absolute;
    top: 40px;
    z-index: 1;
  }
  .views-widget, .form-item {
  	display: block;
    margin: 0;
  }
  .views-widget__label {
  	display: none;
  }
  input.form-text {
  	background: #f7f7f7;
  	@include border-radius(5px);
  	@include box-shadow(inset 0 0 3px rgba(0,0,0,0.05));
    padding: 10px;
    @include breakpoint(700px, $no-query: true) {
  	 padding: 20px 15px;
  	}
    position: relative;
  	width: 100%;
  	z-index: 1;
  }
  input.button--submit {
    @include image-replace(34px,34px);
    @include svg-background(search);
    background-color: $blue;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 1px solid darken($blue,20%);
  	position: absolute;
    right: 4px;
    top: 4px;
  	z-index: 2;
    @include breakpoint(700px, $no-query: true) {
      height: 44px;
      right: 20px;
      top: 9px;
      width: 64px;
    }
    &:hover, &:focus {
      background-color: darken($blue,20%);
      border: 1px solid darken($blue,50%);
    }
  }
}