// @file
// Panels layout: sidebar styles
// Media queries use: http://breakpoint-sass.com
// Media queries use: github.com/Team-Sass/breakpoint/wiki/No-Query-Fallbacks
// Grid via: singularity.gs

.l-panels-sidebar {
  $grids: 1;
  $grids: add-grid(12 at 700px);
  $gutters: 0;
  @include breakpoint(700px, $no-query: true) {
    &.main.sidebar,
    &.featured.sidebar {
      .l-main-wrapper {
        @include grid-span(8,1);
        border-top: 1px solid $border-color;
        .l-main {
          padding: 0 40px;
        }
      }
      .l-sidebar {
        @include grid-span(4,9);
        border-left: 1px solid $border-color;
        border-top: 1px solid $border-color;
        margin-left: -1px;
      }
    }
  }
}

.l-panels-sidebar {
  @include clearfix;
  .l-preface,
  .l-main-wrapper,
  .l-featured,
  .l-main,
  .l-sidebar {
    @include clearfix;

    @if $panels-admin {
      @include border-box;
    }
  }
}
