// @file
// Panels layout: single styles
// Media queries use: http://breakpoint-sass.com
// Media queries use: github.com/Team-Sass/breakpoint/wiki/No-Query-Fallbacks
// Grid via: singularity.gs

.l-panels-single {
  
}

.l-panels-single {
  @include clearfix;
  .l-preface,
  .l-main {
    @include clearfix;

    @if $panels-admin {
      @include border-box;
    }
  }
}
