// @file
// Styles for inline menus.

.nav--inline,
%nav--inline {
  > .nav__item {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
  }
}
