// @file
// Styles for main superfish menu.
 
.sf-main-menu {
	@extend %clearfix;
	a {
		font-family: $sans-serif-font-family;
		font-size: 15px;
		font-weight: bold;
		text-decoration: none;
	}
	> li {
		> a {
			@include hyphens(none);
			color: #fff;
			height: 44px;
			line-height: 44px;
			margin: 23px 12px 23px 0;
			@include breakpoint(800px, $no-query: true) {
  			margin: 23px 20px 23px 0;
	    }
			padding: 0 10px;
			@include text-shadow(1px 1px 1px #3577bb);
			text-transform: uppercase;
			z-index: 500;
			&:hover, &:focus {
				color: $aqua;
			}
			&.menuparent {
				background: $blue url(../images/main_nav_arrow.png) no-repeat 98% 14px;
				border: 1px solid transparent;
				border-bottom: 0;
				margin-right: 25px;
				padding-right: 35px;
			}
			&.home {
				@include image-replace(14px,44px);
				@include svg-background(home-blue);
				background-position: 50% 50%;
				background-repeat: no-repeat;
				margin-right: 14px;
				&:hover, &:focus {
					@include svg-background(home-white);
				}
			}
		}
		&.active-trail > a {
			color: $aqua;
		}
		&.sfHover > a.menuparent {
			background-color: darken($blue,20%);
			background-position: 98% -36px;
			border: 1px solid darken($blue,20%);
			border-bottom: 0;
			color: $aqua !important;
		}
		ul {
			background: $blue;
			border: 1px solid darken($blue,20%);
			color: #fff;
			li {
				a {
					border-bottom: 1px solid lighten($blue,20%);
					color: #fff;
					font-weight: normal;
					padding: 15px;
					&:hover, &:focus {
						background: darken($blue,20%);
					}
				}
				&:last-child a {
					border-bottom: 0;
				}
			}
		}
	}
	li:hover > ul,
	li.sfHover > ul {
	  top: 66px;
	}
}








