// @file
// Styles for links at top of login/register form

#login-links {
	padding-bottom: 1em;
	a.login-link {
		@include breakpoint(max-width 600px) {
			font-size: 18px;
		}
		white-space: nowrap;
		&.lt-active {
			color: #000;
		}
		&:hover, &:focus {
			text-decoration: none;
	  }
	}
}
