// @file
// Button placeholder

%button {
 @include adjust-font-size-to($font-size-md);
  @include background-image(
    linear-gradient(
      top,
      $gradient-light 0%,
      $gradient-dark 6%
    )
  );
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1));
  background-color: $button-bg-color;
  border: 1px solid darken($button-bg-color, 20%);
  border-bottom-color: darken($button-bg-color, 25%);
  border-top-color: darken($button-bg-color, 15%);
  color: $button-text-color;
  cursor: pointer;
  display: inline-block;
  font-family: $button-font-family;
  margin: 0 0 rhythm(1);
  padding: 0.25em 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: baseline;

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *line-height: normal;
    *zoom: 1;
  }

  &:focus,
  &:hover {
    background-color: darken($button-bg-color, 20%);
    border-color: darken($button-bg-color, 50%);
    outline: 0;
  }

  & + .button {
    margin-left: 1em; // LTR

    [dir="rtl"] & {
    margin-left: 0;
    margin-right: 1em;
    }
  }
}

%button--green {
  @extend %button;
  background-color: $green;
  border: transparent;
  &:focus,
  &:hover {
    background-color: darken($green, 20%);
  }
}

%button--simple {
  @extend %button;
  background-image: none;
  @include box-shadow(none);
  background-color: $button-bg-color;
  border: 0;
  color: $button-text-color;
  font-weight: bold;
  text-transform: uppercase;
  &:focus,
  &:hover {
    background-color: darken($button-bg-color, 20%);
  }
}

%button--simple-green {
  @extend %button--simple;
  background-color: $green;
  &:focus,
  &:hover {
    background-color: darken($green, 20%);
  }
}

%button--simple-grey {
 @extend %button--simple;
  background-color: #f5f6f8;
  border: 1px solid #f0f0f0;
  color: $blue;
  &:focus,
  &:hover {
    border-color: darken(#f0f0f0, 20%);
    background-color: darken(#f5f6f8, 5%);
  } 
}