@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/overrides\/shortcut\.scss}line{font-family:\000036}}
#edit-shortcuts {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/overrides\/shortcut\.scss}line{font-family:\000039}}
[dir="rtl"] #edit-shortcuts {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/overrides\/shortcut\.scss}line{font-family:\0000317}}
#admin-menu .shortcut-toggle {
  cursor: pointer;
  background: url(../../images/toolbar.png) 0 -20px no-repeat;
  display: block;
  float: right;
  margin: 6px 0 0 1.3em;
  text-indent: -9999px;
  overflow: hidden;
  width: 25px;
  height: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/overrides\/shortcut\.scss}line{font-family:\0000328}}
#admin-menu .shortcut-toggle:focus, #admin-menu .shortcut-toggle:hover {
  background-position: -50px -20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/overrides\/shortcut\.scss}line{font-family:\0000331}}
#admin-menu .shortcut-toggle.active {
  background-position: -25px -20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/overrides\/shortcut\.scss}line{font-family:\0000334}}
#admin-menu .shortcut-toggle.active:focus, #admin-menu .shortcut-toggle.active:hover {
  background-position: -75px -20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/overrides\/shortcut\.scss}line{font-family:\0000339}}
#admin-menu .shortcut-toolbar {
  background-color: #666;
  clear: both;
  display: none;
  margin: 0 -12px;
  overflow: hidden;
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/overrides\/shortcut\.scss}line{font-family:\0000346}}
#admin-menu .shortcut-toolbar.active {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/overrides\/shortcut\.scss}line{font-family:\0000349}}
#admin-menu .shortcut-toolbar ul {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/overrides\/shortcut\.scss}line{font-family:\0000352}}
#admin-menu .shortcut-toolbar li {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/public\/sites\/all\/themes\/f1ux\/sass\/overrides\/shortcut\.scss}line{font-family:\0000355}}
#admin-menu .shortcut-toolbar a {
  color: #fff;
  padding: 0 0.75em;
}
